<div class="container px-5 px-sm-0">
  <%= flash[:notice] %>
  <div class="row">
<%= render 'books/book', book: @book, user: @user %>
 <div class="col-md 8offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>opinion</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
      </table>
    <tr>
        <% @books.each do |book| %>
      <div class="profile-container">
        <%= image_tag @user.get_profile_image(100,100) %>

        
          <% if @user.id == current_user.id %>
        
        
          <%= link_to "show", users_path %>
        
        <% end %>
    </tr>
        <% end %>
    </div>
  </div>
</div>

